<!-- dropdown with options for gatewayUrls (template driven)-->
<div *ngIf="selectedGatewayUrl">
  <mat-form-field>
    <mat-label>Gateway URL</mat-label>
    <mat-select [value]="gatewayService.selectedGatewayUrl" (selectionChange)="onGatewayUrlChange($event.value)">
      <mat-option value="http://localhost">localhost</mat-option>
      <mat-option value="https://dev-gateway.pace.app">dev-gateway.pace.app</mat-option>
      <mat-option value="https://test-gateway.pace.app">test-gateway.pace.app</mat-option>
      <mat-option value="https://acc-gateway.pace.app">acc-gateway.pace.app</mat-option>
      <mat-option value="https://sand-gateway.pace.app">sand-gateway.pace.app</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- form for login -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>