<mat-drawer-container class="h-100">
  <mat-drawer #settingsDrawer mode="over" [opened]="sideBarOpen$ | async">
    <div *ngIf="authenticateTokenAuthV1ResponseDto$ | async as authenticateTokenAuthV1ResponseDto; else unAuthorized">
      <app-hosted-page-settings></app-hosted-page-settings>
    </div>
    <ng-template #unAuthorized>
      <app-login></app-login>
    </ng-template>
  </mat-drawer>
  <mat-drawer-content>
    <app-navigation-bar></app-navigation-bar>
    <div class="content-wrapper d-flex justify-center p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
