<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
            <img class="ml-2" mat-card-sm-image src="{{ product.imageUrl }}" alt="{{ product.name }}">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-footer class="d-flex justify-center m-2">
        <button mat-raised-button color="primary" (click)="onAddToCart()">Add to cart</button>
    </mat-card-footer>
</mat-card>