<h2>Settings for hostedpage</h2>
<form [formGroup]="hostedPageForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Currency Code</mat-label>
    <input matInput formControlName="currencyCode" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Type</mat-label>
    <input matInput formControlName="type" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
